<p style="color: green"><%= notice %></p>

<section class="section">
    <div class="container">
      <div class="columns">
        <% if  @user.admin %>
          <%= render 'admin', user: @user %>
        <% else %>
          <%= render 'user', user: @user %>
        <% end %>
    </div>
  </div>
</section>