
<article class="media box">
  <div id="<%= dom_id event %>">
    <div class="media-content"></div>
    <p>
    <% if @event.attendees.any? %>
        <% @event.attendees.each do |attendee| %>
            <span class="attendee">
                <%= link_to attendee.username, user_path(attendee.id)  %>
            </span> <br/>
        <% end %>
    <% else %>
    <strong>No attendees</strong><br/>
    <% end %><br/>
    </p>

    <% if user_signed_in? && current_user.attending?(@event) %> 
	    <%= render 'cancel' %>
    <% else %>
      <% if user_signed_in? %>
	      <%= render 'attend' unless current_user.host?(@event) %>
          <% end %>
    <% end %>
    </div>
  </div>
</article>

