<p style="color: green"><%= notice %></p>

<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
       
      <div class="column is-half">
        <p>
          <strong>All Events</strong>
        </p>
        <% @events.each do |event| %>
          <%= render 'shortevent', event: event %>
            <p class="show">
              <%= link_to "Show this event", event %>
            </p>
        <% end %>
      </div>


    </div>
  </div>
</section>
